$color-yelow: #f1c82e;
$color-grey: #f0f0f0;
$back-grey: #f0f0f03a;

@mixin margin-size($margintop, $marginbottom) {
    margin-top: $margintop;
    margin-bottom: $marginbottom;
    }

@mixin marginH-size($marginlef, $marginrig) {
    margin-left: $marginlef;
    margin-right: $marginrig;
    }

@mixin justify ($justifyit, $justifycon) {
    justify-items: $justifyit;
    justify-content: $justifycon;
    }

@mixin align ($alignit, $aligncon) {
    align-items: $alignit;
    align-content: $aligncon;
    }    